build
tskit-1.0.0
packagecache

*.bin

.vscode
.ipynb_checkpoints

.DS_store

sandbox
sim

RELATE_arg
RELATE_data

TS_arg
TS_data

arg_files

single_pop.vcz
single_split.vcz
sim_p_005_Tm_5000.vcz

*.trees
*.anc
*.mut
*.gz
*.tbi
*.npy
*.haps
*.map
*.samples

ARGLy.code-workspace

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# notebooks
*.ipynb

# data
*.arg